@import '../../../style/themes/index.scss';
@import '../../../style/mixins/index.scss';

// mixins for grid system
// ------------------------

@mixin loop-grid-columns($index, $class) {
  @if ($index > 0) {
    .#{$ui-prefix}-col#{$class}-#{$index} {
      display: block;
      flex: 0 0 percentage($index / $grid-columns);
      max-width: percentage($index / $grid-columns);
    }
    .#{$ui-prefix}-col#{$class}-push-#{$index} {
      left: percentage($index / $grid-columns);
    }
    .#{$ui-prefix}-col#{$class}-pull-#{$index} {
      right: percentage($index / $grid-columns);
    }
    .#{$ui-prefix}-col#{$class}-offset-#{$index} {
      margin-left: percentage($index / $grid-columns);
    }
    .#{$ui-prefix}-col#{$class}-order-#{$index} {
      order: $index;
    }
    @include loop-grid-columns(($index - 1), $class);
  } @else {
    .#{$ui-prefix}-col#{$class}-#{$index} {
      display: none;
    }
    .#{$ui-prefix}-col-push-#{$index} {
      left: auto;
    }
    .#{$ui-prefix}-col-pull-#{$index} {
      right: auto;
    }
    .#{$ui-prefix}-col#{$class}-push-#{$index} {
      left: auto;
    }
    .#{$ui-prefix}-col#{$class}-pull-#{$index} {
      right: auto;
    }
    .#{$ui-prefix}-col#{$class}-offset-#{$index} {
      margin-left: 0;
    }
    .#{$ui-prefix}-col#{$class}-order-#{$index} {
      order: 0;
    }
  }
}

@mixin make-grid($class: '') {
  @include loop-grid-columns($grid-columns, $class);
}
